<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin Vehiculos</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}"/>
</head>

<body>
<div class="wrapper-logged">
    <div th:replace="fragments/header :: header">&nbsp;</div>
    <section class="container" id="listCar-section">
        <div class="wrapper-container">
            <h3 style="margin-bottom: 2vh;">Vehiculos</h3>

            <!-- Mensaje de éxito -->
            <div th:if="${mensaje}">
                <div class="alert alert-success" role="alert">
                    <p th:text="${mensaje}"></p>
                </div>
            </div>

            <div class="scrollable-table" style="margin-bottom: 3vh">
                <table class="table">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Marca</th>
                        <th>Matricula</th>
                        <th>Modelo</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="vehiculo : ${vehiculos}">
                        <td th:text="${vehiculo.id}"></td>
                        <td th:text="${vehiculo.marca}"></td>
                        <td th:text="${vehiculo.matricula}"></td>
                        <td th:text="${vehiculo.modelo}"></td>
                        <td>
                            <!-- Botón Editar -->
                            <a th:href="@{/administracion/vehiculos/editar/{id}(id=${vehiculo.id})}">
                                <img src="../../images/edit.png" alt="Editar" class="icono" style="width: 35px; height: 35px; margin-right: 5px">
                            </a>
                            <!-- Botón Borrar -->
                            <a th:href="@{/administracion/vehiculos/borrar/{id}(id=${vehiculo.id})}" onclick="return confirm('¿Estás seguro de que quieres borrar esta oficina?')">
                                <img src="../../images/delete.png" alt="Eliminar" class="icono" style="width: 35px; height: 35px">
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div style="text-align: right">
                <a th:href="@{/administracion/vehiculos/nuevo}" class="btn btn-primary">Añadir Vehiculo</a>
            </div>
        </div>
    </section>
</div>
</body>
</html>