<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Haz tu reserva - Alquila tus vehículos</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}"/>
</head>

<body>
<div class="wrapper-logged">
    <div th:replace="fragments/header :: header">&nbsp;</div>
    <section class="container" id="slogan-section">
        <h1 style="color: white; font-size: 58px; text-transform: none">Eleva tus sentidos</h1>
        <h1 style="font-size: 58px; text-transform: none">a otro nivel</h1>
        <button style="margin-top: 5vh; margin-left: 22vh" onclick="window.location.href='/coches';">Ver catálogo</button>
    </section>

</div>
</body>
</html>