<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Mis reservas - Alquila tus vehículos</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}"/>
</head>
<body>
<div class="wrapper-logged">
    <div th:replace="fragments/header :: header">&nbsp;</div>
    <div class="container wrapper-container">
        <h1>Contratos de Alquiler</h1>
        <table class="table">
            <thead>
            <tr>
                <th>Contrato ID</th>
                <th>Fecha Inicio</th>
                <th>Fecha Fin</th>
                <th>Vehículos</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="contrato : ${contratosAlquiler}">
                <td th:text="${contrato.id}"></td>
                <td th:text="${contrato.fechaInicio}"></td>
                <td th:text="${contrato.fechaFin}"></td>
                <td>
                    <ul>
                        <li class="vehiculos-col" th:each="vehiculo : ${contrato.vehiculos}">
                            <p th:text="${vehiculo.marca} +  | ${vehiculo.modelo}"></p>
                            <span th:text=" ${vehiculo.matricula}"></span>
                        </li>
                    </ul>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="nueva-reserva-button-wrapper">
        <a th:href="@{/reservas/nueva}" class="btn btn-primary">Añadir Reserva</a>
    </div>
</div>
</body>
</html>