<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin Edit Vehiculos</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}"/>
</head>
<body>
<div class="wrapper-logged">
    <div th:replace="fragments/header :: header">&nbsp;</div>
    <div class="container wrapper-container" id="edit-container">
        <p><form action="#" th:action="@{/administracion/vehiculos/guardar}" th:object="${vehiculo}" method="post">
        <input type="hidden" th:field="*{id}" />
        <div>
            <label for="marca">Marca</label><br>
            <input class="form-control" id="marca" type="text" th:field="*{marca}" />
        </div>
        <div>
            <label for="modelo">Modelo</label><br>
            <input class="form-control" id="modelo" type="text" th:field="*{modelo}" />
        </div>
        <div>
            <label for="matricula">Matrícula</label><br>
            <input class="form-control" id="matricula" type="text" th:field="*{matricula}" />
        </div><br>
        <div>
            <button type="submit" style="margin-top: 4vh; float: right">Guardar</button>
        </div>
    </form>

        </p>
    </div>
</div>
</body>
</html>