<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin Edit Contrato Alquiler</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}"/>
</head>
<body>
<div class="wrapper-logged">
    <div th:replace="fragments/header :: header">&nbsp;</div>
    <div class="container wrapper-container" id="edit-container">
        <form action="#" th:action="@{/administracion/contratos-alquiler/guardar}" th:object="${contratoAlquiler}" method="post">
        <input type="hidden" th:field="*{id}" />
        <div>
            <label for="fechaInicio">Fecha Inicio</label>
            <input type="date" class="form-control" id="fechaInicio" th:field="*{fechaInicio}" />
        </div>
        <div>
            <label for="fechaFin">Fecha Inicio</label>
            <input type="date" class="form-control" id="fechaFin" name="fechaInicio" th:field="*{fechaFin}" />
        </div>
        <div class="form-group">
            <label for="oficina">Oficina:</label>
            <select class="form-control" id="oficina" name="oficina" th:field="*{oficina}">
                <option value="">-- Seleccione una oficina --</option>
                <option th:each="oficina : ${oficinas}" th:value="${oficina.id}" th:text="${oficina.ciudad}"></option>
            </select>
        </div>

        <div class="form-group">
            <label for="cliente">Cliente:</label>
            <select class="form-control" id="cliente" name="cliente" th:field="*{cliente}">
                <option value="">-- Seleccione un cliente --</option>
                <option th:each="cliente : ${clientes}" th:value="${cliente.id}" th:text="${cliente.nombre} + ' ' + ${cliente.apellidos}"></option>
            </select>
        </div>
        <label>Vehículos:</label>
        <div class="form-group vehiculos-wrapper">
            <div th:each="vehiculo : ${vehiculos}">
                <input type="checkbox" th:id="'vehiculo_'+${vehiculo.id}" name="vehiculos" th:value="${vehiculo.id}" th:checked="${#sets.contains(contratoAlquiler.contratoVehiculos.![vehiculo.id], vehiculo.id)}"/>
                <label th:for="vehiculo_ + ${vehiculo.id}" th:text="${vehiculo.modelo}"></label>
            </div>
        </div>
        <div>
            <button class="submit-button" type="submit">Guardar</button>
        </div>
        </form>
        <div class="return-button-wrapper">
            <a th:href="@{/administracion/contratos-alquiler}" class="btn btn-danger">Cancelar</a>
        </div>
    </div>
</div>
</body>
</html>