/* RESET */
*, *::before, *::after{
    box-sizing: border-box;
}
*{
    margin: 0;
    padding: 0;
}
ul[role='list'], ol[role='list']{
    list-style: none;
}
html:focus-within{
    scroll-behavior: smooth;
}
a:not([class]){
    text-decoration-skip-ink: auto;
}
img, picture, svg, video, canvas{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    font-style: italic;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
input, button, textarea, select{
    font: inherit;
}
@media (prefers-reduced-motion: reduce){
    html:focus-within {
        scroll-behavior: auto;
    }
    *, *::before, *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
        transition: none;
    }
}
body, html{
    height: 100%;
    scroll-behavior: smooth;
}

/* GENERAL */
body{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #fff;
    background-color: #18171C;
}
h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #D1A142;
    text-transform: uppercase
}
button, .btn-primary{
    cursor: pointer;
    border-radius: 3px;
    padding: .5em 1em;
    border-color: #D1A142;
    background-color: #D1A142;
    color: #000000;
    font-size: 16px;
    font-weight: 500;
    margin: 0;
}
button:hover, .btn-primary:hover{
    background-color: white;
    border-color: white;
    color: #000000;
}
label {
    font-weight: 400;
    margin-top: 3vh;
    margin-bottom: 1vh;
}
.wrapper-logged {
    height: 100dvh;
    background-image: url('../images/bg-logged.jpg');
    background-size: cover;
    background-position: center;
}
.wrapper-logged .wrapper-container {
    border: 5px solid #D1A142;
    background-color: #18171C;
    padding: 2em;
    min-height: 50dvh;
    max-height: 85dvh;
}
input, button, textarea, select {
    color: #000000;
}

/* GENERAL PAGES */
#slogan-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    height: 36vh;
}
.wrapper-container ul, .scrollable-table {
    max-height: 50vh;
    overflow-y: auto;
}
#listCar-section, #bookingCar-section, #contracts-section,
#client-section, #office-section, #edit-container{
    max-width: 1100px;
    height: auto;
}
#contact-section {
    max-width: 990px;
    height: auto;
}
td {
    max-width: 280px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: break-word;
}

/* REGISTER */
#imageRegister-section {
    background-size: cover;
    background-position: center;
    height: 100%;
}
#formRegister-section {
    padding-left: 6vh;
    padding-right: 6vh;
}
.logo-sidebar {
    margin-bottom: 3em !important;
}
#formRegister-section label {
    margin-top: 1vh;
}

/* EDITAR RESERVA ADMIN */
.vehiculos-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.submit-button {
    display: block;
    margin-inline: auto;
}

.return-button-wrapper {
    text-align:center;
    margin-top: 2rem;
}

/* RESERVAS VIEW CLIENTE */
.nueva-reserva-button-wrapper {
    margin-top: 2rem;
    text-align: center;
}